<div class="row justify-content-start">
    <div class="col">
        <nb-card>
            <nb-card-body>
                <div class="row justify-content-start">
                    <div class="col-auto">
                        <h4>Blog posts</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto">
                                <span class="test-small">Search by:</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input
                                        nbInput
                                        type="text"
                                        [formControl]="userName"
                                        placeholder="Username"
                                        [nbAutocomplete]="autoControl1"
                                        fieldSize="small">
                                <nb-autocomplete #autoControl1>
                                    <nb-option *ngFor="let option of filterNameOptions$ | async" [value]="option">
                                        {{ option }}
                                    </nb-option>
                                </nb-autocomplete>
                            </div>
                            <div class="col">
                                <input
                                        nbInput
                                        type="text"
                                        [formControl]="countryName"
                                        placeholder="Country"
                                        [nbAutocomplete]="autoControl2"
                                        fieldSize="small">
                                <nb-autocomplete #autoControl2>
                                    <nb-option *ngFor="let option of filteredControlOptions$ | async" [value]="option">
                                        {{ option }}
                                    </nb-option>
                                </nb-autocomplete>
                            </div>
                            <div class="col">
                                <button nbButton status="primary" size="small" (click)="getCountryDetails()">Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col-2"><span class="test-small">filter data:</span></div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <nb-select [formControl]="filterControl" size="small" (selectedChange)="filterChange()">
                                    <nb-option value="mostLiked">Most Liked</nb-option>
                                    <nb-option value="mostCommented">Most Commented</nb-option>
                                    <nb-option value="newest">Newest Blogs</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-auto">
                        <span class="test-small">Select row count:</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <nb-select size="tiny" class="" [formControl]="pageSizeControl" (selectedChange)="onPageSizeChange()">
                            <nb-option value="10">10</nb-option>
                            <nb-option value="20">20</nb-option>
                            <nb-option value="50">500</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row mt-3">
                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
                        <!-- Title Column -->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
                            <td mat-cell *matCellDef="let post"> {{ post.title }}</td>
                        </ng-container>

                        <!-- Author Column -->
                        <ng-container matColumnDef="author">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Author</th>
                            <td mat-cell *matCellDef="let post"> {{ post.author }}</td>
                        </ng-container>

                        <!-- Country Column -->
                        <ng-container matColumnDef="country">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country</th>
                            <td mat-cell *matCellDef="let post"> {{ post.country }}</td>
                        </ng-container>

                        <!-- Created date Column -->
                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At</th>
                            <td mat-cell *matCellDef="let post"> {{ post.created_at }}</td>
                        </ng-container>

                        <!-- Likes Column -->
                        <ng-container matColumnDef="likes_count">
                            <th mat-header-cell *matHeaderCellDef> Likes</th>
                            <td mat-cell *matCellDef="let post"> {{ post.likes_count }}</td>
                        </ng-container>

                        <!-- Comments Column -->
                        <ng-container matColumnDef="comments_count">
                            <th mat-header-cell *matHeaderCellDef> Comments</th>
                            <td mat-cell *matCellDef="let post"> {{ post.comments_count }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"
                            style="cursor: pointer"></tr>
                    </table>
                    <mat-paginator [pageSize]="pageSize" [length]="totalRecords" [pageIndex]="currentPage-1" (page)="onPageChange($event)"></mat-paginator>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
