<div class="row justify-content-start">
  <div class="col-auto">
    <nb-card>
      <nb-card-body>
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-auto">-->
<!--            <span>Search Country Info</span>-->
<!--          </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col">
<!--              <span>Country: </span>-->
              <input
                nbInput
                type="text"
                [formControl]="countryName"
                placeholder="search"
                [nbAutocomplete]="autoControl"
                size="small">
              <nb-autocomplete #autoControl>
                <nb-option *ngFor="let option of filteredControlOptions$ | async" [value]="option">
                  {{option}}
                </nb-option>
              </nb-autocomplete>
            </div>
          <div class="col">
            <button nbButton status="primary" size="small" (click)="getCountryDetails()">Search</button>
          </div>
        </div>
        <div class="row">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
              <td mat-cell *matCellDef="let post"> {{post.title}} </td>
            </ng-container>

            <!-- Author Column -->
            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
              <td mat-cell *matCellDef="let post"> {{post.author}} </td>
            </ng-container>

            <!-- Country Column -->
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
              <td mat-cell *matCellDef="let post"> {{post.country}} </td>
            </ng-container>

            <!-- Likes Column -->
            <ng-container matColumnDef="likes_count">
              <th mat-header-cell *matHeaderCellDef> Likes </th>
              <td mat-cell *matCellDef="let post"> {{post.likes_count}} </td>
            </ng-container>

            <!-- Comments Column -->
            <ng-container matColumnDef="comments_count">
              <th mat-header-cell *matHeaderCellDef> Comments </th>
              <td mat-cell *matCellDef="let post"> {{post.comments_count}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!--<div class="row justify-content-center" *ngIf="isVisible">-->
<!--  <div class="col-auto">-->
<!--    <nb-card style="width: 800px">-->
      <nb-card-body>
        <div class="row justify-content-center mb-3">
          <div class="col-auto">
            <span class="text-dark text-large">{{countryObj.name}}</span>
          </div>
        </div>
        <div class="row justify-content-center mb-3">
          <div class="col-auto border-box">
            <img [src]="countryObj.flag" [alt]="countryObj.flag + 'flag'" class="img-fluid img-size" >
          </div>
        </div>
        <div class="row">
          <div class="col"><span class="text-dark text-size">Capital:</span> {{countryObj.capital}}</div>
          <div class="col"><span class="text-dark text-size">Currency:</span> {{countryObj.currency}}</div>
          <div class="col"><span class="text-dark text-size">Languages:</span> {{countryObj.languages}}</div>
        </div>
      </nb-card-body>
<!--    </nb-card>-->
<!--  </div>-->
<!--</div>-->


