:host nb-layout-header ::ng-deep nav {
  justify-content: flex-end;
}

.sidebar-header {
  padding: 1rem;
  border-bottom: 1px solid #e8e8e8;

  .sidebar-user-card {
    margin: 0;
    box-shadow: none;
    background: transparent;

    .user-info {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      .user-icon {
        font-size: 1.5rem;
      }

      .user-name {
        margin: 0;
        font-weight: 600;
        color: #1a2138;
      }
    }
  }
}

.toggle-btn-container{
  position: absolute;
  top: 15px;
  left: 8px;
  z-index: 100;
}

.custom-sidebar{
  width: 250px;
  transition: width 0.3s;
  position: relative;
}

