<nb-card accent="info">
  <nb-card-header>
    <div class="row justify-content-between">
      <div class="col-auto">
        <span>Created by: {{data?.username}}</span>
      </div>
      <div class="col-auto">
        <span>{{data?.created_at}}</span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row justify-content-start">
      <div class="col-auto">
        <h4>{{data?.title}}</h4>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <span class="text-content">{{data?.content}}</span>
      </div>
    </div>
    <div class="row mt-3 border p-3">
      <div class="row">
        <h6>Country Info</h6>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-auto">
          <span class="text-dark text-large">{{data?.country_name}}</span>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-auto border-box">
          <img [src]="data?.flag" [alt]="data?.flag + 'flag'" class="img-fluid img-size" >
        </div>
      </div>
      <div class="row">
        <div class="col"><span class="text-dark text-size">Capital:</span> {{data?.capital}}</div>
        <div class="col"><span class="text-dark text-size">Currency:</span> {{data?.currency}}</div>
        <div class="col"><span class="text-dark text-size">Languages:</span> {{data?.languages}}</div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row justify-content-start">
      <div class="col-6">
        <div class="col">
          <button nbButton ghost status="success"><nb-icon [icon]="data?.is_like === true ? 'heart': 'heart-outline'" (click)="likeBlog(1)"></nb-icon>{{data?.like_count}}</button>
          <button nbButton ghost status="danger"><nb-icon [icon]="data?.is_like === false ? 'heart': 'heart-outline'" (click)="likeBlog(0)"></nb-icon>{{data?.dislike_count}}</button>
          <button nbButton ghost status="primary"><nb-icon [icon]="isOpened ? 'message-circle' : 'message-circle-outline'" (click)="onSelect()"></nb-icon>{{data?.comment_count}}</button>
        </div>
      </div>
      <div class="col-6">
        <div class="row justify-content-end" *ngIf="is_Authorised">
          <div class="col-auto">
            <button nbButton ghost status="primary"><nb-icon icon="edit-2-outline" (click)="editBlog()"></nb-icon>Edit</button>
            <button nbButton ghost status="danger"><nb-icon icon="trash-2-outline" (click)="deleteBlog()"></nb-icon>Delete</button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
<!--  comment section-->
<!--*ngIf="isOpened"-->
<nb-card>
  <nb-card-header>Comments</nb-card-header>
  <nb-card-body>
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>Add comments</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col">
              <input type="text" nbInput fullWidth [formControl]="commentsControl">
            </div>
            <div class="col">
              <button nbButton ghost status="primary"><nb-icon icon="message-square" (click)="sendComment()">button</nb-icon></button>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>View comments</nb-accordion-item-header>
        <nb-accordion-item-body *ngIf="commentsForm">
          <form [formGroup]="commentsForm">
            <ng-container *ngFor="let comment of data?.comments;let i = index">
              <div class="row mb-2">
                <div class="col-2">
                  <div class="row">
                    <div class="col-auto">
                      <nb-icon icon="person"></nb-icon>
                    </div>
                    <div class="col">
                      <span>{{comment?.commented_username}}</span>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <span><input type="text" nbInput fullWidth fieldSize="small" shape="semi-round" [formControlName]="comment?.id?.toString()"></span>
                </div>
                <div class="col">
                  <button nbButton ghost size="small" status="primary" [disabled]="checkIsEdit(comment?.user_id)" (click)="updateComment(comment?.id)"><nb-icon icon="edit-2"></nb-icon></button>
                </div>
              </div>
            </ng-container>
          </form>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
